@if (hasData) {
  <div class="line-chart">
    <svg
      role="img"
      aria-label="Evolução diária das ocorrências"
      [attr.viewBox]="'0 0 ' + width + ' ' + height"
      preserveAspectRatio="none"
    >
      <line class="line-chart__grid" x1="24" y1="186" x2="576" y2="186"></line>
      <line class="line-chart__grid" x1="24" y1="105" x2="576" y2="105"></line>
      <line class="line-chart__grid" x1="24" y1="24" x2="576" y2="24"></line>
      <polyline class="line-chart__line" [attr.points]="polylinePoints"></polyline>
      @for (point of plottedPoints; track point.date) {
        <circle
          class="line-chart__point"
          tabindex="0"
          role="button"
          [attr.aria-label]="formatDate(point.date) + ': ' + point.count + ' ocorrências'"
          [attr.cx]="point.x"
          [attr.cy]="point.y"
          r="5"
          (click)="pointSelected.emit(point.date)"
          (keydown)="selectWithKeyboard($event, point.date)"
        ></circle>
      }
    </svg>
    <div class="line-chart__axis" aria-hidden="true">
      <span>{{ formatDate(points[0].date) }}</span>
      <span>{{ formatDate(points[points.length - 1].date) }}</span>
    </div>
  </div>
} @else {
  <p class="line-chart__empty">Nenhuma ocorrência no período selecionado.</p>
}
